#adoteResp{
    width: 100vw;
    margin-bottom: 5vh;
}

h1{
    color: white;
    margin-top: -26vw;
    margin-bottom: 10vw;
    margin-left: 6vw;   
    font-size:5.5vw;
}

#ptcinza{
    margin-top: -3vh;
    background-color: #E5E1E0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textGen{
    font-size: 1.5vw;
    font-weight: bold;
    padding: 5vw;
    padding-bottom: 3vw;
}

#btnSaibaMais{
    text-decoration: none;
    color: white;
    background-color: #880404;
    padding: 0.5vw;
    font-size: 2.5vh;
    border-radius: 0.5vw;
    margin-bottom: 2vw;
}

#btnSaibaMais:hover{
    background-color:   #813636;
    font-size: 2.7vh;
}

/*          PRINCIPAL */

main h2{
    text-align: center;
    padding: 2vw;
    font-size: 5vw;
    font-weight: bold;
    color: #880404;
}
/*          CARD */

.container-card{
    display: flex;
    justify-content: space-evenly;
    margin-top: 6vh;
}

.card{
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: #E5E1E0;
    width: 25vw;
    border-radius: 12px;
    box-shadow: 4px 4px 12px #E5E1E0;
}

.card:hover{
    box-shadow: 4px 4px 10px #8DC6BA;
    padding: 10px;
}

.card img{
    border-radius: 12px;
}

.info{
    text-align: center;
    padding: 3vh;
}

.info h3{
    font-weight: bold;
    font-size: 5vh;
    font-weight: bold;
}

.info p{
    font-weight: bold;
    margin-bottom: 3vh;
}

.info a{
    text-decoration: none;
    color: white;
    background-color: #8DC6BA;
    padding: 5px;
    border-radius: 5px;
}

.info a:hover{
    background-color: #880404;
}

.mudanca{
    margin-top: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mudanca a{
    text-decoration: none;
    color: black;
    font-size: 3vh;
    font-weight: bold;
    box-shadow: 0 0 12px #E5E1E0;
    padding: 2vh;
    margin: 1vw;
    transition: 0.2s;
    border-radius: 10px;
}

.mudanca a:hover, #mud1, #mud2{
    box-shadow: 0 0 12px #8DC6BA;
    background-color: #8DC6BA;
}

@media(max-width: 999px){
    .textGen{
        font-size: 1.5vh;
    }

    #btnSaibaMais{
        font-size: 1.5vh;
        padding: 1vh;
        border-radius: 15px;
    }

    main h2{
        font-size: 4vh;
        margin-top: 4vh;
        margin-bottom: 4vh;
    }

    .container-card{
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }

    .card{
        width: 70vw;
        margin-bottom: 5vh;
    }
}