@charset "utf-8";

#imgMob{
    width: 100vw;
    display: none;
}

#den {
    width: 100vw;
}

.center {
    text-align: center;
}

.center h1 {
    font-size: 4vh;
    font-weight: bold;
    margin-top: 4vh;
}

button {
    margin: 3vh;
    background-color: #880404;
    color: white;
    padding: 1vh;
    font-size: 2.5vh;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    font-size: 2.7vh;
}

.esconde {
    display: none;
}

.escondido {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10vh;
    padding-bottom: 3vh;
    margin-top: 10vh;
    margin-left: 17vw;
    margin-right: 17vw;
    border: 1px solid #880404;
}

main h2 {
    font-size: 5vh;
    font-weight: bold;
    margin-bottom: 3vh;
    color: #880404;
}

main li {
    font-size: 3vh;
    font-weight: 650;
    line-height: 5vh;
}

.ptfin {
    margin-top: 6vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media(max-width: 999px) {

    #den{
        display: none;
    }

    #imgMob{
        display: block;
    }

    .escondido {
        padding: 5vh;
        padding-bottom: 3vh;
        margin-top: 10vh;
        margin-left: 5vw;
        margin-right: 5vw;
        border: 1px solid #880404;
    }

    main .center h1 {
        font-size: 2.5vh;
    }

    button {
        font-size: 1.5vh;
        margin-bottom: 0;
    }

    .escondido ul li {
        line-height: 2.5vh;
    }

    main h2 {
        font-size: 3vh;
    }


    main li {
        font-size: 2vh;
        font-weight: bold;
    }

    .center h1 {
        font-size: 3.5vh;
        margin-left: 2vw;
        margin-right: 2vw;
    }

    .ptfin {
        margin-left: 15vw;
    }

    .ptfin h2 {
        font-size: 3vh;
    }

    .ptfin ol li {
        font-size: 2vh;
        line-height: 3.5vh;
    }
}