@charset 'utf-8';
*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}


            /* MENU DE NAVEGAÇÃO */

header{
    background-color: #8DC6BA;
    height: 15vh;
    display: flex;
}

nav{
    align-self: center;
}

nav li{
    display: inline-block;
}

.dropdownMenu{
    position: absolute;
    background-color: #E5E1E0;
    box-shadow: 0 0 2px black;
    display: none;
    text-align: center;
    margin-left: 1vw;
}

.dropdownMenu a{
    display: block;
    color: #880404;
    text-decoration: none;
    padding: 0.5vh;
}

.dropdownMenu a:hover{
    background-color: #880404;
    color: #E5E1E0;
}

.dropdown:hover .dropdownMenu{
    display: block;
}

.linkMenu{
    margin-left: 8vw;
    text-decoration: none;
    color: white;
    font-size: 3vh;
    font-weight: bold;
    padding: 2vh;
}

.linkMenu1{
    text-decoration: none;
    color: white;
    font-size: 3vh;
    font-weight: bold;
    padding: 2vh;
}

.linkMenu2{
    margin-left: 8vw;
    margin-right: 8vw;
    text-decoration: none;
    color: white;
    font-size: 3vh;
    font-weight: bold;
    padding: 2vh;
}

.linkMenu:hover{
    color: #E5E1E0;
    font-weight: bold;
}

.linkMenu1:hover{
    color: #E5E1E0;
}

.linkMenu2:hover{
    color: #E5E1E0;
}

#logo{
    height: 15vh;
    align-self: center;
    margin-right: 3vw;
    margin-left: 4vw;
}



            /* RODAPÉ */
footer{
    background-color: #8DC6BA;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#logoFooter{
    height: 15vh;
    margin: 3vh;
}

.h2Footer{
    font-size: 16px;
    margin-top: -3vh;
    font-weight: bold;
}

.iconRod{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5vh;
     
}

.ctt{
    background-color: #880404;
    color: white;
    padding: 2vh;
    font-size: 3vh;
    font-weight: bold;
    margin: 3vh;
    border-radius: 15px;
}

.contatos{
    display: flex;
    flex-direction: column;
    margin-left: -20vw;
}

.c1{
    display: flex;
    align-items: center;
}

.icon{
    width: 3vw;
    margin: 0.4vw;
}

.icon1{
    width: 2vw;
    margin: 0.4vw;
}

.ddd{
    font-weight: bold;
    margin: 3vh;
}

span{
    font-weight: 300;
}

#copy{
    font-size: small;
    margin-bottom: 0;
}