@charset 'utf-8';
*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}


            /* MENU DE NAVEGAÇÃO */

header{
    background-color: #8DC6BA;
    height: 15vh;
    display: flex;
}

nav{
    align-self: center;
}

nav li{
    display: inline-block;
}

.dropdownMenu{
    position: absolute;
    background-color: #E5E1E0;
    box-shadow: 0 0 2px black;
    display: none;
    text-align: center;
    margin-left: 1.55vw; 
}

.dropdownMenu a{
    display: block;
    color: #880404;
    text-decoration: none;
    padding: 0.5vh;
}

.dropdownMenu a:hover{
    background-color: #880404;
    color: #E5E1E0;
}

.dropdown:hover .dropdownMenu{
    display: block;
}

.linkMenu{
    margin-left: 8vw;
    text-decoration: none;
    color: white;
    font-size: 3vh;
    font-weight: bold;
    padding: 2vh;
}

.linkMenu1{
    text-decoration: none;
    color: white;
    font-size: 3vh;
    font-weight: bold;
    padding: 2vh;
}

.linkMenu2{
    margin-left: 8vw;
    margin-right: 8vw;
    text-decoration: none;
    color: white;
    font-size: 3vh;
    font-weight: bold;
    padding: 2vh;
}

.linkMenu:hover{
    color: #E5E1E0;
    font-weight: bold;
}

.linkMenu1:hover{
    color: #E5E1E0;
}

.linkMenu2:hover{
    color: #E5E1E0;
}

#logo{
    height: 15vh;
    align-self: center;
    margin-right: 3vw;
    margin-left: 4vw;
}



            /* RODAPÉ */
footer{
    background-color: #8DC6BA;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#logoFooter{
    height: 10vw;
    margin: 3vh;
}

.h2Footer{
    font-size: 1.5vw;
    margin-top: -2vw;
    font-weight: bold;
}

.iconRod{
    display: flex;
    justify-content: space-evenly;
}

.ctt{
    color: white;
    padding: 1vh;
    font-size: 5vh;
    font-weight: bold;
    margin: 3vh;
    margin-bottom: 0;
    border-radius: 15px;
}

.contatos{
    display: flex;
    flex-direction: column;
    margin-left: -25vw;
}

.c1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    width: 3vw;
    margin: 0.4vw;
}


.icon1{
    width: 1.7vw;
    margin: 0.4vw;
    margin-left: -1vw;
}

.ddd{
    font-weight: bold;
    margin: 3vh;
}

span{
    font-weight: 300;
}

#copy{
    font-size: small;
    margin-bottom: 0;
}


/*          RESPONSIVIDADE */

@media(max-width:481px) {

    header{
        width: 100vw;
    }

    main{
        width: 100vw;
    }

    footer{
        width: 100vw;
    }

    #logo{
        height: 10vh;
        margin-left: 1.5vw;
    }

    #logoFooter{
        height: 10vh;
    }

    .h2Footer{
        margin-top: -24px;
        font-size: 13px;
    }

    .ctt{
        padding: 7px;
        font-size: 3.5vh;
        border-radius: 10px;
        margin-left: 30vw;
        margin-right: 30vw;
    }

    .icon{
        width: 7vw;
    }

    .icon1{
        width: 5vw;
        margin: 3px;
    }

    .contatos{
        margin: 0;
        justify-content: center;
        margin-bottom: 4vh;
    }

    .c1{
        justify-content: center;
        margin: 1.5vw;
    }

    .c1 p{
        margin: 0;
    }

    .iconRod{
        display: flex;
        flex-direction: column;
    }

    .ddd{
        margin: 0;
    }

    
}

